table {
    border-collapse: collapse;
}

#faux {
    color: red;

}

#traduction {
    font-weight: bold;
}


#anglais {
    font-weight: bold;
}

td, th /* Mettre une bordure sur les td ET les th */ {
    border: 1px solid black;
}